# VSCode remote
.vscode/
.vscode-server/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Conda / caches
.cache/
.conda/
.condarc
.config/
.conda_envs/
.conda_pkgs/
.conda_cache/
venv/
.venv/

# Data / outputs
data/
outputs/
runs_*/
*.pt
*.pth
*.ckpt

# OS
.DS_Store
